// Наши преимущества
.list {
  @extend %flex;
  flex-wrap: wrap;
}
.section h2 {
  margin: 0 0 50px;
  @include fonts(700, 36px, 1.2, 0.03em);
  text-align: center;
  color: $title-text-color;
}
.advant {
  @extend %flex;
  border-bottom: 1px solid #ececec;
  &-element {
    margin: 0px 0px 30px;
    &:not(:last-child) {
      margin-right: 30px;
    }
    .list & {
      width: calc((100% - 30px * 3) / 4);
    }
  }
  &-item {
    @extend %flex;
    background-color: #f5f4fa;
    height: 120px;
    border-radius: 4px;
    justify-content: center;
  }
  &-text {
    @include margin(0, 0);
    @include fonts(400, 14px, 1.7, 0.03em);
  }
  &.advant-title {
    @include margin(30px, 10px);
    @include fonts(700, 14px, 1, 0.03em);
    text-transform: uppercase;
    color: $title-text-color;
  }
}
.icon-advant {
  @include icon-size(70px, 70px);
}
.list {
  &.advant-list {
    display: flex;
  }
}
